.project-card{
    background-color: rgb(237, 237, 237);
    width: 340px; /* 160px 20rem */
    height:30rem; /* 160px */
    margin: 60px 0px 0px 60px;
    border-radius:20px;
    border: 5px solid #555;
    
}
ul :hover{
    background-color:  white;
}


.project-card-group{
    position : absolute;
    width: 75rem;
    
}

ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    
}


.logo{

    margin : 25px;
}

h2 {

    font-weight: bold;
    padding: 10px;
    margin-top: -19px
}

.project-card-paragraph{
    font-size: .9em;
    margin-top: 10px;
    padding: 10px;
   
}


.app-links{
    display: flex;
}

