nav{
    width: 100%;
   
    display: -webkit-inline-box;

}

.nav-container{
    /* display: flex; */
 
}

.nav-links{
    background-color : rgba(255, 255, 255, 0.633);
    border :azure;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    margin: 30px 113px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 8px 6px -6px gray;
   
    
}

.navy-link{
   cursor: pointer;
    margin: 8px;
    
  
}

.portfolio-image-container{
    width : 30%;
   
}

.portfolio_image{
    border: 5px solid #555;
  border-radius: 50%;  
  width: 60px;
  height: 60px;
  object-fit:initial;
margin: 05px 50px 30px 110px;

   
}
